{%extends "base.html"%}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div style="background-color: rgb(92, 142, 217); height: 2500px;" class="kieth brendan">
  <br>
    <h1 class="kieth" style="font-size: xxx-large; margin-bottom:10px;">Weather Town</h1>
    <div class="kieth">
    </div>
    <div class="kieth";>
        <img src="{% static 'Piccys/clouds.jpg' %}" alt="" style="height: 330px; width: 330 px; margin-top:20px; margin-bottom: 10px; border-radius: 100px; 
">
<br>
<b>
<p style="opacity: 100%;">Live weather updates and forecast:</p>
<p style="font-size:medium;">(Only first line is functional..) </p> {#maybe add a drop  down list inside where you can pick for like tomorrow, tuesda,y wed, next week#}
</b>
  <div>
    
    <div class="kieth">
    
      <a href="/weather4/">
            <button style="font-size: large; width: 100px;"> Bangkok</button>
        </a>
        <a href="/weather2/">
            <button style="font-size: large; width: 100px;"> Rabat</button>
        </a>
    
        <a href="/weather3/">
            <button style="font-size: large; width:100px;"> New Delhi</button>
        </a>
        
        <a href="/weather5/">
          <button style="font-size: large; width:100px;"> Istanbul</button>
        </a>
       <a href="/weather6/">
            <button style="font-size: large; width:100px;"> Lisbon</button>
        </a>
        
        <a href="/weather1/">
          <button style="font-size: large; width:100px;"> London</button>
        </a>
        <br>
       <a href="/weather1/">
            <button style="font-size: large; width: 100px;"> Athens</button>
        </a>
        <a href="/weather2/">
            <button style="font-size: large; width: 100px;"> Paris</button>
        </a>
    
        <a href="/weather3/">
            <button style="font-size: large; width:100px;"> Berlin</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Glasgow</button>
        </a>
       <a href="/weather3/">
            <button style="font-size: large; width:100px;"> Dublin</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Moscow</button>
        </a>
        <a href="/weather1/">
            <button style="font-size: large; width: 100px;"> Warsaw</button>
        </a>
        <a href="/weather2/">
            <button style="font-size: large; width: 100px;"> Madrid</button>
        </a>
    
        <a href="/weather3/">
            <button style="font-size: large; width:100px;">Budapest</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;">Rome</button>
        </a>
       <a href="/weather3/">
            <button style="font-size: large; width:100px;">Prague</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Brussels</button>
        </a>
        <br>
       <a href="/weather1/">
            <button style="font-size: large; width: 100px;"> Amsterdam</button>
        </a>
        <a href="/weather2/">
            <button style="font-size: large; width: 100px;">New York </button>
        </a>
    
        <a href="/weather3/">
            <button style="font-size: large; width:100px;"> LA</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Las Vegas</button>
        </a>
       <a href="/weather3/">
            <button style="font-size: large; width:100px;"> Shanghai</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;">Jakarta </button>
        </a>
        <a href="/weather1/">
            <button style="font-size: large; width: 100px;">New Mex </button>
        </a>
        <a href="/weather2/">
            <button style="font-size: large; width: 100px;">Buenos A </button>
        </a>
    
        <a href="/weather3/">
            <button style="font-size: large; width:100px;"> Rio</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Reykjavik</button>
        </a>
       <a href="/weather3/">
            <button style="font-size: large; width:100px;">Sydney </button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Hong K</button>
        </a>
        <br>
       <a href="/weather1/">
            <button style="font-size: large; width: 100px;"> Dubai</button>
        </a>
        <a href="/weather2/">
            <button style="font-size: large; width: 100px;"> Orlando</button>
        </a>
    
        <a href="/weather3/">
            <button style="font-size: large; width:100px;">Seoul </button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;">Tokyo</button>
        </a>
       <a href="/weather3/">
            <button style="font-size: large; width:100px;"> Hanoi</button>
        </a>
        
        <a href="/weather4/">
          <button style="font-size: large; width:100px;"> Montreal</button>
        </a>
        <br>
        <br>
      <img src="/static/Piccys/thing.jpg" style="height: 330px; width: 330 px; margin-top:20px; margin-bottom: 10px; border-radius: 100px;"> 
</div>
{% endblock %}
{#maybe have it so longer words go at bottom so its like a tower#}









